<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>_Q11 to XQ11(lenAir/IKB/IKBR/IWL-down)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExMQ==
					</data>
					<key>Replace</key>
					<data>
					WFExMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q12 to XQ12(lenAir/IKB/IKBR/IWL-up)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExMg==
					</data>
					<key>Replace</key>
					<data>
					WFExMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q13 to XQ13(HP-up/down)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExMw==
					</data>
					<key>Replace</key>
					<data>
					WFExMw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q14 to XQ14(TP-up)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExNA==
					</data>
					<key>Replace</key>
					<data>
					WFExNA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q15 to XQ15(TP-down)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1ExNQ==
					</data>
					<key>Replace</key>
					<data>
					WFExNQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMEE to XMEE(dell)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					U01FRQE=
					</data>
					<key>Replace</key>
					<data>
					WE1FRQE=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q64 to XQ64(TP-S2-2017-down)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2NA==
					</data>
					<key>Replace</key>
					<data>
					WFE2NA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q65 to XQ65(TP-S2-2017-up)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1E2NQ==
					</data>
					<key>Replace</key>
					<data>
					WFE2NQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q0E to XQ0E(A580UR)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1EwRQ==
					</data>
					<key>Replace</key>
					<data>
					WFEwRQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_Q0F to XQ0F(A580UR)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1EwRg==
					</data>
					<key>Replace</key>
					<data>
					WFEwRg==
					</data>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
