<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>@0,name</key>
				<string>ATY,Orinoco</string>
				<key>AAPL,slot-name</key>
				<string>Slot-1@0,1,0/0,0</string>
				<key>CFG_PTPL2_TBL</key>
				<data>ggAAAHwAAAB2AAAAcAAAAGoAAABkAAAAXgAAAFgAAABSAAAATAAAAEYAAABAAAAAOgAAADQAAAAuAAAAKAAAAA==</data>
				<key>CFG_USE_AGDC</key>
				<integer>1</integer>
				<key>CFG_USE_SCANOUT</key>
				<integer>1</integer>
				<key>CFG_USE_TCON</key>
				<integer>1</integer>
				<key>PP_BootupDisplayState</key>
				<data>AQAAAA==</data>
				<key>PP_DisableMCDownLoadFeature</key>
				<integer>1</integer>
				<key>PP_PowerPlayEnabled</key>
				<data>AQAAAA==</data>
				<key>device_type</key>
				<string>VGA compatible controller</string>
				<key>model</key>
				<string>AMD Radeon RX 580</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x3,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,3,0/0,1</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>layout-id</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>AMD RX 580 HDMI Audio</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
