<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>PP_PhmSoftPowerPlayTable</key>
				<data>
				QQMHAQBNAM4GAAAEKQAAGQAAAACAAgFADQMA6G4DADIA
				GQBNAKECmAIAALUBOwF3APkA3gEGAwAA0QIAACADOgMI
				LQIAUwcAAAAAAAABAgAAAAAAAAAACAAAAAAAAAAAAAAA
				BwACAAAAAAAFAAAAAAAAAAAAAAAAEO4CAAAAAAAAAv8A
				AAAAAAAD/wAAAAAAAAT/AAAAAAAABf8AAAAAAAAG/wAA
				AAAAAAf/AAAAAAAACP8AAAAAAAAgAwAAAAAAAFIDAAAA
				AAAAhAMAAAAAAAC2AwAAAAAAAOgDAAAAAAAAGgQAAAAA
				AABMBAAAAAAAAH4EAAAAAAAAAAiEAwAAAAAAAAL/AAAA
				AAAAA/8AAAAAAAAE/wAAAAAAAAX/AAAAAAAABv8AAAAA
				AAAH/wAAAAAAAAj/AAAAAAAAAQgAAAAwdQAAAAAAgAAA
				AAAB5v9cJQEAAAAAAAAAAAAC5v9gmQEAAAAAAAAAAAAD
				5v9YxAEAAAAAAAAAAAAE5v9g5AEAAAAAAAAAAAAF5v9U
				/wEAAAAAAAAAAAAG5v/QFAIAAAAAAAAAAAAHAACYLgIA
				AAAAAAAAAAAAAwAgAwAA6AMwdQAAAAAIUgMAAOgDoIYB
				AAAAC7YDAADoA1A0AwAAAAAICAAAkOIAAPgkAQAY9gAA
				AAAAAKjeAAAJtP8Y9gAAgDgBAIgNAQAAAAAAAPoAAAqb
				/6AJAQAITAEA+CQBAAAAAABwEQEAC4L/KB0BAKhbAQBo
				PAEAAAAAAOAoAQAMaf/ILAEAYGcBAPBPAQAAAAAAaDwB
				AA03/4A4AQAYcwEAeGMBAAAAAAAITAEADgX/OEQBANB+
				AQAAdwEAAAAAAMBXAQAPAADwTwEAoIYBAKCGAQAAAAAA
				eGMBAAEXAAACACAAAAkDoA9kGTQh0AegD3AXlCoBZADk
				EugImC4CAE0SlgCWAGQAlgCWAJYAZAABLjYAAAS0AAAA
				lwC3ALcAAAAAALcAVgAAAAAAWwACAGkAUABQAHMAcwBf
				AAAAkCCWAJAAAAYAAAAAAQYAAAECAAEBAgACAQIAAgEC
				AAIBAgACAQIBAwAQAAAAAAAAABAAAAAAAAACEAAAAAAA
				AAABAAAAAAA=
				</data>
				<key>model</key>
				<string>RX 580</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
