<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple SMBus kexts from attaching to SMBUS controller</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleSMBusController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Prevent Apple SMBus kexts from attaching to SMBUS controller</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleSMBusPCI</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
