<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>IOSkywalkFamily.kext</string>
				<key>Comment</key>
				<string>V1.0 | Kext Downgrade for macOS Sequoia. Requires blocking system IOSkywalkFamily</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IOSkywalkFamily</string>
				<key>MaxKernel</key>
				<string>24.9.9</string>
				<key>MinKernel</key>
				<string>24.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>IO80211FamilyLegacy.kext</string>
				<key>Comment</key>
				<string>V1200.12.2b1 | Kext Downgrade for macOS Sequoia. Requires blocking system IOSkywalkFamily</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IO80211FamilyLegacy</string>
				<key>MaxKernel</key>
				<string>24.9.9</string>
				<key>MinKernel</key>
				<string>24.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AirportItlwm_HighSierra.kext</string>
				<key>Comment</key>
				<string>V2.4.0 | WiFi kext for macOS 10.13 High Sierra</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>MaxKernel</key>
				<string>17.9.9</string>
				<key>MinKernel</key>
				<string>17.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AirportItlwm_Mojave.kext</string>
				<key>Comment</key>
				<string>V2.4.0 | WiFi kext for macOS 10.14 Mojave</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>MaxKernel</key>
				<string>18.9.9</string>
				<key>MinKernel</key>
				<string>18.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AirportItlwm_Catalina.kext</string>
				<key>Comment</key>
				<string>V2.4.0 | WiFi kext for macOS 10.15 Catalina</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>MaxKernel</key>
				<string>19.9.9</string>
				<key>MinKernel</key>
				<string>19.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AirportItlwm_BigSur.kext</string>
				<key>Comment</key>
				<string>V2.4.0 | WiFi kext for macOS 11 Big Sur</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>MaxKernel</key>
				<string>20.9.9</string>
				<key>MinKernel</key>
				<string>20.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AirportItlwm_Monterey.kext</string>
				<key>Comment</key>
				<string>V2.4.0 | WiFi kext for macOS 12 Monterey</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>MaxKernel</key>
				<string>21.9.9</string>
				<key>MinKernel</key>
				<string>21.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AirportItlwm_Ventura.kext</string>
				<key>Comment</key>
				<string>V2.4.0 | WiFi kext for macOS 13 Ventura</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>MaxKernel</key>
				<string>22.9.9</string>
				<key>MinKernel</key>
				<string>22.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AirportItlwm_Sonoma.kext</string>
				<key>Comment</key>
				<string>V2.4.0 | WiFi kext for macOS 14 Sonoma</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>MaxKernel</key>
				<string>23.9.9</string>
				<key>MinKernel</key>
				<string>23.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>AirportItlwm_Sequoia.kext</string>
				<key>Comment</key>
				<string>V2.4.0 | WiFi kext for macOS 15 Sequoia. Requires root patching with OCLP</string>
				<key>Enabled</key>
				<false/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>MaxKernel</key>
				<string>24.9.9</string>
				<key>MinKernel</key>
				<string>24.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>BundlePath</key>
				<string>itlwm.kext</string>
				<key>Comment</key>
				<string>V2.4.0 | WiFi kext for macOS 26 Tahoe (requires Heliport App)</string>
				<key>Enabled</key>
				<true/>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/itlwm</string>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>25.0.0</string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
			</dict>
		</array>
		<key>Block</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Comment</key>
				<string>Allows IOSkywalk Downgrade</string>
				<key>Enabled</key>
				<true/>
				<key>Identifier</key>
				<string>com.apple.iokit.IOSkywalkFamily</string>
				<key>MaxKernel</key>
				<string>24.9.9</string>
				<key>MinKernel</key>
				<string>24.0.0</string>
				<key>Strategy</key>
				<string>Exclude</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
