<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Delete</key>
		<array>
			<dict>
				<key>All</key>
				<true/>
				<key>Comment</key>
				<string>Drop CpuPm (enable for generating SSDT-PM.aml but disable afterwards)</string>
				<key>Enabled</key>
				<true/>
				<key>OemTableId</key>
				<data>
				Q3B1UG0AAAA=
				</data>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>
				U1NEVA==
				</data>
			</dict>
			<dict>
				<key>All</key>
				<true/>
				<key>Comment</key>
				<string>Drop Cpu0Ist (enable for generating SSDT-PM.aml but disable afterwards)</string>
				<key>Enabled</key>
				<true/>
				<key>OemTableId</key>
				<data>
				Q3B1MElzdAA=
				</data>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>
				U1NEVA==
				</data>
			</dict>
		</array>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>x86_64</string>
				<key>Base</key>
				<string>_xcpm_bootstrap</string>
				<key>Comment</key>
				<string>Enables XCPM for Ivy Bridge on macOS 10.15.7 to 12.0.1</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>
				jUPEPEI=
				</data>
				<key>Identifier</key>
				<string>kernel</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data>
				</data>
				<key>MaxKernel</key>
				<string></string>
				<key>MinKernel</key>
				<string>19.0.0</string>
				<key>Replace</key>
				<data>
				jUPGPEI=
				</data>
				<key>ReplaceMask</key>
				<data>
				</data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
